// TODO: eliminate interdependency between theme and slider plugin
// TODO: small screens need love
// TODO: improve visibility of slider dots
// TODO: vertically center tagline and nav arrows?

// Settings
$nav-arrow-color: #eee;
$nav-arrow-hover-color: #fff;
$nav-arrow-spacing: 1.5vw;
$min-slide-height: 35rem;
$vertical-median: $min-slide-height / 3;

.fcbc-slider {
  position: relative;
  height: 100%;

  .slick-list,
  .slick-slider,
  .slick-track {
    height: 100%;
  }
}

.fcbc-slider-wrapper.slick-slide {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Slider page indicators
.fcbc-slider-wrapper .slick-dots {
  bottom: 0;

  li button:before {
    font-size: 27px;
  }
}

// Left/right nav arrows
.fcbc-slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale3d(1,1,1);
  line-height: 1;
  z-index: 10;
  color: $nav-arrow-color;
  font-size: 1.5em;
  @media screen and (min-width: 40em) {
    font-size: 2.2em;
  }

  transition: 300ms;

  // Large nav arrows on hover if mouse input
  // (is whatinput like modernizr?)
  body[data-whatinput="mouse"] & {
    &:hover {
      transform: translateY(-50%) scale3d(1.2,1.2,1.2);
    }

  }

  &:focus,
  &:hover {
    color: $nav-arrow-hover-color;
  }

  &.left {
    left: 1px;
    @media screen and (min-width: 40em) {
      left: $nav-arrow-spacing;
    }
  }

  &.right {
    right: 1px;
    @media screen and (min-width: 40em) {
      right: $nav-arrow-spacing;
    }
  }
}
